/* мне не нрав подчеркивание по умолчанию, оно близко к тексту*/
.card__link {
  text-decoration: none;
  border-bottom: 1px solid #FFF;
  display: inline-block;
  font-family: 'inter-regular';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: #FFF;
  margin: 12px 0 0;
  }
