.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 28px 0 0;
  width: 100%;
  margin: 0 auto;
}

/* в панеле разработчика границы включены,
все погран значения уменьшила на 0.02 */

/* до этой высоты будет применятья след правило */
@media screen and (max-width: 1279.98px) {
  .header {
    padding: 28px 48px 0;
    width: calc(100% - 48px * 2);
  }
}

@media screen and (max-width: 1023.98px) {
  .header {
    padding: 28px 24px 0;
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 767.98px) {
  .header {
    padding: 16px 16px 0;
    width: calc(100% - 32px);
  }
}

